<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <div class="flex-container bg-gray-300">
    <div class="flex-col text-center">

      <% if @select_answer.is_correct == true %>

        <div>
          <p class="text-2xl font-bold mt-12">大正解</p>
          <p class="mt-9"><%= @select_answer.choice_text %></p>
          <p class=" text-start px-10 mt-6"><%= @answer.explanation %></p>
        </div>

      <% else %>

        <div>
          <p class="text-2xl font-bold mt-12">不正解</p>
          <p class="mt-9"><%= @select_answer.choice_text %></p>
          <p class=" text-start px-10 mt-6"><%= @answer.explanation %></p>
        </div>

      <% end %>

      <div class="mt-48">
        <% if session[:count] != 4%>
            <div>
              <p><%= "正解数#{@true_count}不正解数#{@false_count}"%></p>
            </div>

            <div>
              <p><%= link_to "次へ", control_session_path %></p>
            </div>

        <% else %>
            <div>
              <p><%= link_to "結果発表", results_show_path %></p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>