<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="flex justify-center mt-5">
        <%= image_tag("quiz_by_syuare.png", alt: "app" ,width: 150, height: 200)%>
      </div>
    <main class="container mx-auto px-5 flex flex-col">
      <%= yield %>
    </main>

    <% if flash[:error].present? %>
      <div>
        <%= flash[:error] %>
      </div>
    <% end %>

  </body>
</html>
