<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    
  </head>

  <body class="bg-auto bg-center bg-no-repeat" style="background-image: url('/assets/soccer-studium-04.png')">
    <script>
      window.history.pushState(null, null, null);
      window.addEventListener('popstate', function(e) {
      // console.log("test")
      if  (confirm('ホームに戻りますが、本当に戻りますか？')) {
          window.location.href = '<%= browserback_session_path %>';
          // console.log("test")
      } else {
        e.preventDefault(); // ブラウザのデフォルトの戻る動作を無効にする
        history.pushState(null, null, location.href); // ブラウザの履歴を元に戻す
          // console.log("test")
          }
      });
    </script>
    <div class="flex justify-center mt-5">
        <%= image_tag("quiz_by_syuare.png", alt: "app" ,width: 150, height: 200)%>
      </div>
    <main class="container mx-auto px-5 flex flex-col">
      <%= yield %>
    </main>

    <% if flash[:error].present? %>
      <div>
        <%= flash[:error] %>
      </div>
    <% end %>

  </body>
</html>
